@using NorthwindViewModel

@model List<OrdersDTO>

<form>
    <table>
        <tr>
            <td>OrderID：</td>
            <td><input type="number" name="orderID" /></td>
            <td>CustomerName：</td>
            <td><input type="text" name="customerName" /></td>
            <td><button type="submit">查詢</button></td>
        </tr>
    </table>
</form>
<br />
<table class="table table-striped table-bordered">
    <tr>
        <th>OrderID</th>
        <th>CustomerName</th>
        <th>EmployeeName</th>
        <th>OrderDate</th>
        <th>RequiredDate</th>
        <th>ShippedDate</th>
        <th>Action</th>
    </tr>

    @foreach (OrdersDTO ordersDTO in @Model)
    {
        <tr>
            <td>@ordersDTO.OrderID</td>
            <td>@ordersDTO.CustomerName</td>
            <td>@ordersDTO.EmployeeName</td>
            <td>@(ordersDTO.OrderDate?.ToString("yyyy/MM/dd") ?? string.Empty) </td>
            <td>@(ordersDTO.RequiredDate?.ToString("yyyy/MM/dd") ?? string.Empty)</td>
            <td>@(ordersDTO.ShippedDate?.ToString("yyyy/MM/dd") ?? string.Empty)</td>
            <td><button type="submit">Details</button><button type="submit">Edit</button><button type="submit">Delete</button></td>
        </tr>
    }
</table>
